:root {
    --section-padding: 4rem 12rem;
}

.container {
    display: grid;
    grid-template-columns: 15rem 1fr 15rem;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
        "header header header"
        ". search ."
        ". results-1 ."
        ". nearby ."
        ". results-2 ."
        "footer footer footer"
    ;
}


.header {}

.search {
    grid-area: search;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: var(--section-padding);
}

.results-1 {
    display: flex;
    flex-direction: column;
    padding: var(--section-padding);
    gap: 1rem;
}

.nearby {
    background-color: rgba(243, 243, 243, 0.863);
    background-image: url("../../images/homepage-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-burn;

    display: flex;
    flex-direction: column;
    padding: var(--section-padding);
    gap: 1rem;
}

.footer {
    background: yellow;
}


.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 2rem;
    padding: 5rem;
}

.pagination span {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Montserrat";
    color: #2F2E41;
    padding: 0 2rem 0 0;
    cursor: pointer;
}
.pagination img {
    cursor: pointer;
}

.pagination__link--numbers {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Montserrat";
    color: #2F2E41;
    cursor: pointer;
}

.pagination__link--active {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 3rem;
    width: 3rem;
    height: 3rem;
    background: #2F2E41;
    cursor: pointer;
}

.pagination__link--active a {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Montserrat";
    color: #FFF;
    cursor: pointer;
}