.container {
    display: grid;
    grid-template-columns: 15rem auto 15rem;
    grid-template-rows: 16vh 15vh auto auto auto;
    grid-template-areas: 
    "header header header"
    "search search search"
    ". main ."
    "banner banner banner"
    "footer footer footer"
    ;
}

.Navbar {
    grid-area: header;
}
.cards-section {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
        
    gap: 2rem;
    padding: 2rem;
}
/* .cards-section::after {
    content: "";
    flex: auto;
} */
.card {
    width: 27rem;
    height: 30rem;
}

.Footer {
    grid-area: footer;
}