.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after{
    background: red;
}

.gm-style .gm-style-iw-tc::after{
    background-color: yellow;
}

button.gm-ui-hover-effect > span {
    width: 2em;
    background-color: white;
}
button.gm-ui{
    width: 2em;
    background-color: rgb(140, 0, 255);
}
.mapContainer{
    width: 80rem;
    height: 40rem;
    border-radius: 1rem;
    box-shadow: 0rem 0.625rem 1.875rem 0.313rem rgba(0, 0, 0, 0.2);
}
.googleMapContainer{
    position: absolute;
}
.searchAmenities{
    position: relative;
    top: -48em;
    left: 2em;
}