.container {
    display: grid;
    grid-template-columns: 10rem auto 10rem;
    grid-template-rows: 16vh 15vh auto auto auto;
    grid-template-areas: 
    "header header header"
    "search search search"
    ". main ."
    "banner banner banner"
    "footer footer footer"
    ;
}

.cards-section {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
        
    gap: 2rem;
    padding: 2rem;
}