/* .container {
  display: grid;
  grid-template-columns: 10rem auto 10rem;
  grid-template-rows: 7rem 1fr 25rem;
  grid-template-areas:
    "header header header"
    "section1 section1 section1"
    "footer footer footer";
}
.Navbar {
  grid-area: header;
}
.Footer {
  grid-area: footer;
} */

/* @media only screen and (min-width: 1200px) {
  .wrapper {
    width: 80%;
    margin: 0 auto;
  }
} */
